body {
    font-family: 'Arial', sans-serif;
    background-color: #df3c98;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.proposal-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 90%;
    animation: fadeIn 1.5s ease;
}

h1 {
    color: #e91e63;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #e91e63;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c2185b;
    transform: scale(1.1);
}

#noBtn {
    position: relative;
}

#noBtn.non-clickable {
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    animation: zoomIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .proposal-card {
        padding: 15px;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
}
